@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
/* shared */
.container{
    max-width: 1057px;
    width: 100%;
    margin:0px auto;
}
.btn{
    background: #30BB68;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;;
    padding:16px;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    display: flex;
    gap:10px;
    align-items: center;
}
.btn:hover{
  background-color:#b1e8b4; ;
}
.btn-transparent{
    background: transparent; 
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;;
    padding:16px;
    border:1px solid #FFFFFF;
    border-radius: 4px;
    cursor:pointer;
    display: flex;
    gap:10px;
    align-items: center;
}
.btn-transparent:hover{
  background-color:#2c6746;
}

/* navbar start */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
.nav-items{
    display: flex;
    gap:32px;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
/* navbar end */
/* hero section start */
.hero-section {
  background: url("../assets/hero-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 674px;
}
.banner-content {
  width: 770px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.early-access-content{
    display:flex;
    gap:6px;
    justify-content: center;
    align-items: center;
    width:229px;
    height:35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
}
.early-access-left{
   width: 16px;
   height:16px;
}

.early-access-right{
      
    font-size: 16px;
    color: #30BB68;
    font-weight: 500;
    
}


.white-text {
  padding-top: 16px; 
  font-size: 72px;
  font-weight: 900; 
  color: #FFFFFF;
}
.green-text {
  font-size: 72px;  
  font-weight: 900;
  color: #30BB68;
}
.banner-content p {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
}
.button-content{
    padding-top:32px;
    display: flex;
    gap:32px;
}
/* hero section end */
/* notes section start */
.notes{
  /* width:100%; */
  margin-top: 60px;
  display:flex;
  gap:44px;
  flex-direction: column;
  /* background: #F7F6F2; */
}
.notes-content{
  text-align: center;

}
.notes-content h1{
  color:#001931;
  font-size: 48px;
  font-weight: 700;
}
.notes-content p{
  font-size: 16px;
  font-weight: normal;
  color:#627382;
}
.notes-card{
  display: flex;
  gap:24px;
}
.card{
  width: 322px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px #000000;
  background-color: #FFFFFF;
  display: flex;
  gap:16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img{
  width: 60px;
  height:60px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content{
  text-align: center;
}
.card-content h3{
  font-size: 24px;
  font-weight: 600;
  color:#001931;

}
.card-content p{
  color:#627382;
  font-size: 16;
  font-weight: normal;
  line-height: 20px;
}

/* notes section end */

/* second brain section start */
.second-brain{
  padding-top: 120px;
  display: flex;
  gap:60px;
  align-items: center;

}
.second-brain-left{
  width: 600px;
  height:600px;
}
.second-brain-right span{
  font-size: 16;
  font-weight: normal;
  line-height: 20px;
  color:#469165;
}
.title p{
  
  font-weight: 700;
  color:#001931;
  padding-bottom: 16px;
   
}
.second-brain-right p{
  font-size: 16px;
  color:#627382;
  line-height: 20px;
}
.second-brain-right ul{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap:16px;
}
.second-brain-right li{
  list-style: none;
  color:#627382;
}

/* second brain section end */

/* early access section start */

.early-acesss-section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.early-acesss-section-content{
  padding:80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:16px;
  align-items: center;
  border-radius: 12px;
  background: #F7F6F2;
}
.early-acesss-section-content h1{
  font-size: 40px;
  font-weight: 700;
}
.early-acesss-section-description{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  text-align: center;
}
.early-acesss-section-content p{
  font-size: 16px;
  font-weight: normal;
  color:#627382;
  line-height: 20px;
}

/* early access section end */

/* footer start */
.footer-section{
  width: 100%;
  height: 348px;
  /* padding-top: 120px; */
  background:#001931;
  display:flex;
}
.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:80px;
  height: 100%;
}
.footer{
  width: 100%;;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0px auto;
  
}
.social-links{
  font-size: 20px;
  color:#FFFFFF;
  line-height: 28px;
}

.copy-right small{
  font-size:16px;
  font-weight: normal;
  color:#FAFAFA
  
}
.white-circle{
  display: flex;
  gap:16px;
}
.white-circle i{
  width: 20px;
  height:20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer end */



